@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');

:root {
  --light:#f5f5f5;
  --dark: #323537;
  --font: "Share Tech", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  background-color: var(--dark);
  color: var(--light);
  font-family: var(--font);
  font-weight: bold;
  font-size: 30px;
}

.controls {
  margin: 50px 0px;
}

input {
  width: 100px;
}